.blog-text-indent{
    text-indent: 35px;
}

.blog-nav-custom{
    min-height: 90px;
    background: #0e1b24 !important;
}

.blog-nav-custom li.active{
    /*color: #005cbf !important;*/
}

.blog-nav-custom ul li{
    padding-left: 15px;
}
.blog-main{
    margin-top: 90px;
    padding: 15px 0px;
    margin-bottom: 120px;

}


.blog-main .tec-card{
    border: 0px;
}
.blog-carousel img{
    max-height: 540px;
}
.blog-footer{
    color: #f8f9fa !important;
    background: #0e1b24 !important;
    text-align: center !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.blog-footer .contact{
    max-width: 600px;
    margin: 0 auto;
}

.blog-footer .copyright{
    max-width: 600px;
    margin: 0 auto;
}

.index .blog-carousel{
    margin-top: 90px;
}